body { background-color: #003d99 !important; }
.content-wrapper { background-color: #003d99 !important; color: white; }
.navbar { background-color: rgba(0, 41, 102, 0.9) !important; border-bottom: 2px solid #ffcc00; }